<div class="row row-cols-1 row-cols-sm-3 no-gutters">

  <div class="col mb-4" 
  *ngFor="let result of results">
    <!--  -->
    <app-album-card 
      [album]="result" 
      [routerLink]="[ '/music/albums', result.id, 'details' ]">
    </app-album-card>
  </div>
</div>