<!--
dl>(dt{Name:}+dd{MyPlaylist})*3 -->

<!-- <pre>{{ playlist | keyvalue | json }}</pre>
<pre>{{ playlist | json }}</pre> -->

<dl [title]="playlist.name | titlecase" [attr.data-playlist-id]="playlist.id">

  <dt>Name:</dt>
  <dd [style.font-size.px]="20">{{ playlist.name | titlecase | slice:0:30 }}</dd>

  <dt>Public:</dt>
  <!-- <dd class="public-yesno"
      [class.public-yes]="playlist.public"
      [class.public-no]="!playlist.public"
  > -->
  <dd class="public-yesno" [ngClass]="{
        'public-yes':playlist.public,
        'public-no':!playlist.public
      }">{{ playlist.public | yesno : 'Yeah' : 'Nope' }}</dd>
  <!-- }">{{ playlist.public | yesno }}</dd> -->
  <!-- }">{{ playlist.public ? 'Yes' : 'No'}}</dd> -->

  <!-- [ngStyle]={
    color:  playlist.public ? 'green' : 'red'
  } -->
  <!-- [style.color]=" playlist.public ? 'green' : 'red'"> -->

  <dt>Description:</dt>
  <dd>{{ playlist.description }}</dd>
</dl>

<button class="btn btn-info" (click)="editClick()">Edit</button>
